body {
  background-color: #1e293b;
  color: #dddddd;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-family: "Roboto Mono", monospace;
}

h3,
h4 {
  font-weight: 400;
}

div button {
  width: 130px;
  height: 130px;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: #334155;
  font-size: 50px;
  margin: 5px;
}

button:hover {
  filter: brightness(80%);
}

button:active {
  transform: translateY(2px);
}

.btns {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.score-boxes {
  display: flex;
  justify-content: space-evenly;
  padding: 18px;
}

.sign {
  font-size: 80px;
}

footer {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.fa-github {
  font-size: 20px;
  color: #cbd5e1;
}

.fa-github:hover {
  transform: scale(1.2);
}
